{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>{% block head %}
        <meta charset="utf-8"/>
        <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.js"></script><![endif]-->
        {% block stylesheets %}
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/css/bootstrap.css">
        {% endblock %}
        <title>{% block title %}Chat{% endblock %}</title>
        {% endblock %}
    </head>
    <body>
    <button class="btn" style="float:right;" id="hidePrefsButton">Toggle prefs</button>
    <div class="container">
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{message.tags}}">
            <button class="close" data-dismiss="alert"><i class="fa fa-times"></i></button>
            <p{% if message.tags %} class="{{ message.tags }}"{% endif %}><i class="fa fa-info-circle">&nbsp;{{ message }}</i></p>
        </div>
        {% endfor %}
    {% endif %}
    {% block body %}
        <div class="form-inline" id="prefsPanel">
            <div class="form-group">
                <label class="sr-only" for="key"><strong><em>Strong</em></strong> passphrase</label>
                <input  class="form-control" id="key" type="password" placeholder="Strong Passphrase">
            </div>
            <div class="form-group">
                <label class="sr-only" for="room">Chatroom</label>
                <input  class="form-control" id="room" placeholder="Chatroom Name">
            </div>
            <div class="form-group">
                <label class="sr-only" for="alias">Your Alias</label>
                <input  class="form-control" id="alias" placeholder="Your Alias">
            </div>
            <button class="btn btn-default" id="updatePrefsButton">Update</button>
        </div>
        <div class="container">
        <div class="highlight" id="chatWindow">
        <!--messages appear here -->
        </div>
        </div>
        <div class="well">
            <textarea class="form-control" placeholder="Text input" id="chatInput"></textarea>
        </div>
    {% endblock %}
    </div>
    <noscript>
        Due to the nature of this site(client-side encryption), Javascript is required to function.
    </noscript>
    <footer class="footer">
    {% block footer %}
            <!-- footer block -->
    {% endblock %}
    {% block scripts %}
        <script src="//crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/aes.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
        <script src="{% static 'js/app.js' %}"></script>
        <script> 
        $(document).ready(function(){
            $('#hidePrefsButton').click(function(){
                outer = this;
                $('#prefsPanel').slideToggle();
            });
            chatapp = chatmain('#chatWindow', '#chatInput', '#key', '#room', '#alias', '#updatePrefsButton');
            }
        );
        </script>
    {% endblock %}
</footer>
    </body>

</html>
